# Ignore everything by default
*

# Allow only these folders/files
!src/
!src/train_clam_5fold.py
!src/clam_model.py
!data/
!data/labels.csv
!requirements.txt
!README.md
!.gitignore

# Still ignore heavy stuff inside allowed folders
src/__pycache__/
*.pyc

data/features/
data/patches/
*.pt
*.h5
*.svs
*.tif

# Logs / outputs
*.log
outputs/